<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common ::head(~{::title})">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">

</head>
<body>
<!--导航条-->
<nav th:replace="common/commonnav::nav(3)" class="ui inverted segment attached m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui teal header item ">blog</h2>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon home"></i>首页</a>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon idea"></i>分类</a>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon folder open"></i>归档</a>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon tags"></i>标签</a>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon info"></i>关于我</a>
            <div class="item right">
                <div class="ui mobile input inverted icon transparent mobile-display-hide">
                    <input type="text" placeholder="Search.....">
                    <i class="search icon link"></i>
                </div>
            </div>

        </div>
        <div class="ui m-right-top">
            <a href="#" class="ui black vertical animated button m-display meu" style="width: 50px">
                <div class="hidden content">展开</div>
                <div class="visible content">
                    <i class="sidebar icon"></i>
                </div>
            </a>
            <!--        <a href="#" class="ui button black m-right-top m-display">-->
            <!--            <i class="sidebar icon "></i>-->
            <!--        </a>-->

        </div>
    </div>


</nav>
<!--中间部分-->
<div class="m-padded-mini ">
    <div class="ui container ">
        <div class="ui segment attached rounded m-margin-tb m-padded-tb-small">
            <div class="ui two column grid middle aligned">
                <div class="column">
                    <h2 class="ui teal header ">归档</h2>
                </div>
                <div class="column right aligned">
                    共 <h3 class="ui orange header m-line-block m-padded-tb-tiny m-text-thin">14</h3> 篇
                </div>
            </div>
        </div>
        <div>
            <h2 align="center" class="m-padded-small">2017年</h2>
        </div>
        <div class="ui segment m-padded-tb-tiny attached">
            <div class="ui two column grid">
                <div class="column middle aligned">
                    <p class="ui m-line-block m-margin-tb-small">关于学习的清单  </p>
                    <a class="ui label teal basic ">9月2号</a>

                </div>
                <div class="ui column right aligned m-margin-tb-tiny">
                    <a class="ui label orange basic ">原创</a>
                </div>

            </div>
        </div>
        <div class="ui segment m-padded-tb-tiny attached">
            <div class="ui two column grid">
                <div class="column middle aligned">
                    <p class="ui m-line-block m-margin-tb-small">关于学习的清单  </p>
                    <a class="ui label teal basic ">9月2号</a>

                </div>
                <div class="ui column right aligned m-margin-tb-tiny">
                    <a class="ui label orange basic ">原创</a>
                </div>

            </div>
        </div>
        <div class="ui segment m-padded-tb-tiny attached">
            <div class="ui two column grid">
                <div class="column middle aligned">
                    <p class="ui m-line-block m-margin-tb-small">关于学习的清单  </p>
                    <a class="ui label teal basic ">9月2号</a>

                </div>
                <div class="ui column right aligned m-margin-tb-tiny">
                    <a class="ui label orange basic ">原创</a>
                </div>

            </div>
        </div>
        <div>
            <h2 align="center"class="m-padded-small">2016年</h2>
        </div>
        <div class="ui segment m-padded-tb-tiny attached">
            <div class="ui two column grid">
                <div class="column middle aligned">
                    <p class="ui m-line-block m-margin-tb-small">关于学习的清单  </p>
                    <a class="ui label teal basic ">9月2号</a>

                </div>
                <div class="ui column right aligned m-margin-tb-tiny">
                    <a class="ui label orange basic ">原创</a>
                </div>

            </div>
        </div>
        <div class="ui segment m-padded-tb-tiny attached">
            <div class="ui two column grid">
                <div class="column middle aligned">
                    <p class="ui m-line-block m-margin-tb-small">关于学习的清单  </p>
                    <a class="ui label teal basic ">9月2号</a>

                </div>
                <div class="ui column right aligned m-margin-tb-tiny">
                    <a class="ui label orange basic ">原创</a>
                </div>

            </div>
        </div>
        <div class="ui segment m-padded-tb-tiny attached">
            <div class="ui two column grid">
                <div class="column middle aligned">
                    <p class="ui m-line-block m-margin-tb-small">关于学习的清单  </p>
                    <a class="ui label teal basic ">9月2号</a>

                </div>
                <div class="ui column right aligned m-margin-tb-tiny">
                    <a class="ui label orange basic ">原创</a>
                </div>

            </div>
        </div>
        <div>
            <h2 align="center"class="m-padded-small">2015年</h2>
        </div>
        <div class="ui segment m-padded-tb-tiny attached">
            <div class="ui two column grid">
                <div class="column middle aligned">
                    <p class="ui m-line-block m-margin-tb-small">关于学习的清单  </p>
                    <a class="ui label teal basic ">9月2号</a>

                </div>
                <div class="ui column right aligned m-margin-tb-tiny">
                    <a class="ui label orange basic ">原创</a>
                </div>

            </div>
        </div>
        <div class="ui segment m-padded-tb-tiny attached">
            <div class="ui two column grid">
                <div class="column middle aligned">
                    <p class="ui m-line-block m-margin-tb-small">关于学习的清单  </p>
                    <a class="ui label teal basic ">9月2号</a>

                </div>
                <div class="ui column right aligned m-margin-tb-tiny">
                    <a class="ui label orange basic ">原创</a>
                </div>

            </div>
        </div>
        <div class="ui segment m-padded-tb-tiny attached">
            <div class="ui two column grid">
                <div class="column middle aligned">
                    <p class="ui m-line-block m-margin-tb-small">关于学习的清单  </p>
                    <a class="ui label teal basic ">9月2号</a>

                </div>
                <div class="ui column right aligned m-margin-tb-tiny">
                    <a class="ui label orange basic ">原创</a>
                </div>

            </div>
        </div>


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>


</div>


<!--底部footer-->
<footer th:replace="common/commonnav :: foot"></footer>
<script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.meu').click(function () {

        $('.mobile').toggleClass('mobile-display-hide')

    })



</script>
</body>

</html>