<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common ::head(~{::title})">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">

</head>
<body>
<!--导航条-->
<nav th:replace="common/commonnav::nav(1)" class="ui inverted segment attached m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary menu stackable">
            <h2 class="ui teal header item ">blog</h2>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon home"></i>首页</a>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon idea"></i>分类</a>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon folder open"></i>归档</a>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon tags"></i>标签</a>
            <a href="#" class="mobile item mobile-display-hide"><i class="icon info"></i>关于我</a>
            <div class="item right">
                <div class="ui mobile input inverted icon transparent mobile-display-hide">
                    <input type="text" placeholder="Search.....">
                    <i class="search icon link"></i>
                </div>
            </div>

        </div>
        <div class="ui m-right-top">
            <a href="#" class="ui black vertical animated button m-display meu" style="width: 50px">
                <div class="hidden content">展开</div>
                <div class="visible content">
                    <i class="sidebar icon"></i>
                </div>
            </a>
            <!--        <a href="#" class="ui button black m-right-top m-display">-->
            <!--            <i class="sidebar icon "></i>-->
            <!--        </a>-->

        </div>
    </div>


</nav>
<!--中间部分-->
<div class="m-padded-mini ">
    <div class="ui container ">
        <div class="ui segment attached rounded m-margin-tb m-padded-tb-small">
            <div class="ui two column grid middle aligned">
                <div class="column">
                    <h2 class="ui teal header ">标签</h2>
                </div>
                <div class="column right aligned">
                    共 <h3 class="ui orange header m-line-block m-padded-tb-tiny m-text-thin">14</h3> 篇
                </div>
            </div>
        </div>
        <div class="ui segment attached m-padded-tb-big">
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>
            <a class="ui label teal basic left pointing m-margin-tb-tiny large" target="_blank">
                方法论
                <div class="detail">23</div>
            </a>

        </div>

        <div class="ui segment ">
            <div class="ui segment padded">
                <div class="ui grid column stackable mobile reversed">
                    <div class="eleven wide column m-margin-tb-small">
                        <h3 class="ui header ">生活的海洋</h3>
                        <p class=" m-text-space header m-text-thin">
                            生活的海洋并不像碧波涟漪的西子湖，随着时间的流动，它时而平静如镜，时而浪花飞溅，时而巨浪冲天……人们在经受大风大浪的考验之后，往往会变得更加坚强。
                        </p>
                        <div class="ui grid column m-margin-tb-big">
                            <div class="eleven wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1014/6016/4000" alt=""
                                             class="ui image avatar">
                                        <p class="content ">哈哈哈</p>
                                    </div>
                                    <div class=" item m-text-size ">
                                        <i class="ui  calendar icon m-line-block"></i> 2019-09-09
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2323
                                    </div>

                                </div>

                            </div>
                            <div class="five wide column right aligned">
                                <a href="#" class="ui label teal basic">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1014/6016/4000" alt=""
                                 class="ui rounded image right aligned">
                        </a>
                    </div>
                </div>
                <div class="ui grid column">

                </div>
            </div>
        </div>
        <div class="ui segment ">
            <div class="ui segment padded">
                <div class="ui grid column stackable mobile reversed">
                    <div class="eleven wide column m-margin-tb-small">
                        <h3 class="ui header ">生活的海洋</h3>
                        <p class=" m-text-space header m-text-thin">
                            生活的海洋并不像碧波涟漪的西子湖，随着时间的流动，它时而平静如镜，时而浪花飞溅，时而巨浪冲天……人们在经受大风大浪的考验之后，往往会变得更加坚强。
                        </p>
                        <div class="ui grid column m-margin-tb-big">
                            <div class="eleven wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1014/6016/4000" alt=""
                                             class="ui image avatar">
                                        <p class="content ">哈哈哈</p>
                                    </div>
                                    <div class=" item m-text-size ">
                                        <i class="ui  calendar icon m-line-block"></i> 2019-09-09
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2323
                                    </div>

                                </div>

                            </div>
                            <div class="five wide column right aligned">
                                <a href="#" class="ui label teal basic">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1014/6016/4000" alt=""
                                 class="ui rounded image right aligned">
                        </a>
                    </div>
                </div>
                <div class="ui grid column">

                </div>
            </div>


        </div>
        <div class="ui segment ">
            <div class="ui segment padded">
                <div class="ui grid column stackable mobile reversed">
                    <div class="eleven wide column m-margin-tb-small">
                        <h3 class="ui header ">生活的海洋</h3>
                        <p class=" m-text-space header m-text-thin">
                            生活的海洋并不像碧波涟漪的西子湖，随着时间的流动，它时而平静如镜，时而浪花飞溅，时而巨浪冲天……人们在经受大风大浪的考验之后，往往会变得更加坚强。
                        </p>
                        <div class="ui grid column m-margin-tb-big">
                            <div class="eleven wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1014/6016/4000" alt=""
                                             class="ui image avatar">
                                        <p class="content ">哈哈哈</p>
                                    </div>
                                    <div class=" item m-text-size ">
                                        <i class="ui  calendar icon m-line-block"></i> 2019-09-09
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2323
                                    </div>

                                </div>

                            </div>
                            <div class="five wide column right aligned">
                                <a href="#" class="ui label teal basic">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1014/6016/4000" alt=""
                                 class="ui rounded image right aligned">
                        </a>
                    </div>
                </div>
                <div class="ui grid column">

                </div>
            </div>


        </div>
        <div class="ui segment ">
            <div class="ui segment padded">
                <div class="ui grid column stackable mobile reversed">
                    <div class="eleven wide column m-margin-tb-small">
                        <h3 class="ui header ">生活的海洋</h3>
                        <p class=" m-text-space header m-text-thin">
                            生活的海洋并不像碧波涟漪的西子湖，随着时间的流动，它时而平静如镜，时而浪花飞溅，时而巨浪冲天……人们在经受大风大浪的考验之后，往往会变得更加坚强。
                        </p>
                        <div class="ui grid column m-margin-tb-big">
                            <div class="eleven wide column">
                                <div class="ui horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1014/6016/4000" alt=""
                                             class="ui image avatar">
                                        <p class="content ">哈哈哈</p>
                                    </div>
                                    <div class=" item m-text-size ">
                                        <i class="ui  calendar icon m-line-block"></i> 2019-09-09
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 2323
                                    </div>

                                </div>

                            </div>
                            <div class="five wide column right aligned">
                                <a href="#" class="ui label teal basic">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1014/6016/4000" alt=""
                                 class="ui rounded image right aligned">
                        </a>
                    </div>
                </div>
                <div class="ui grid column">

                </div>
            </div>


        </div>


    </div>


</div>


<!--底部footer-->
<footer th:replace="common/commonnav :: foot"></footer>
<script src="http://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.meu').click(function () {

        $('.mobile').toggleClass('mobile-display-hide')

    })



</script>
</body>

</html>